/* body general -------------------------------------------------------------------- */
body {
  font-family: "Open Sans", sans-serif;
  color: black;
  margin: 0 0 0 0;
  /* background: url('background1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1; */
}
/* header general ------------------------------------------------------------------------- */

header {
  background: #2a2a2a;
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  max-height: 55px;
  z-index: 5;
}
/* right header after login---------------------------------------------------------------------------- */

.right_header {
  float: right;
  margin: 0 45px 45px 0;
}

.search {
  float: left;
  position: relative;
  border: white solid 2px;
  border-radius: inherit;
  margin: -5px -10px;
  padding: 8px 15px;
}

.search {
  float: left;
  position: relative;
  border: white solid 2px;
  border-radius: inherit;
  margin: -5px -10px;
  padding: 7.6px 15px;
}

.isearch {
  float: left;
  position: relative;
  margin: -5px 10px;
  background: white;
  padding: 7.6px 8px;
  transition: 0.35s ease-in-out;
}

.isearch:hover {
  background: #e3d105;
}

.profil {
  border-radius: 30px 30px;
  float: left;
  position: relative;
  margin: -13px 10px;
}

/* right header before login-------------------------------------------------------------------------- */

.topform {
  float: left;
  position: relative;
  border: white solid 2px;
  border-radius: inherit;
  margin: -5px 10px;
  padding: 8px;
}

.blogin {
  float: left;
  display: block;
  color: black;
  font-size: 15px;
  line-height: 38px;
  position: relative;
  top: -7px;
  padding: 0 15px;
  margin: 0 5px;
  border: solid #e3d105 1px;
  background: #e3d105;
  transition: 0.35s ease-in-out;
  border-radius: 4px;
}

.blogin:hover {
  border: white solid 1px;
  background: #2a2a2a;
  color: white;
}
/* index non user----------------------------------------------------------------------- */
section {
  padding: 0px;
  height: 100vh;
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
}
.box {
  position: absolute;
  max-width: 600px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.753);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  top: 30%;
  right: 25%;
}
.box h2 {
  margin: 0 0 20px;
  padding: 0;
  font-size: 48px;
  text-transform: uppercase;
  color: black;
}
.box p {
  margin: 0 0 20px;
  padding: 0;
  font-size: 18px;
}
/* side------------------------------------------------------------------------------- */

/* side------------------------------------------------------------------------------- */

.side {
  background: #2a2a2a;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  min-width: 230px;
  padding-top: 100px;
  z-index: 3;
}

.logout {
  float: left;
  display: block;
  font-family: "Open Sans", sans-serif;
  color: var(--neutra);
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  line-height: 50px;
  position: relative;
  top: -15px;
  padding: 0 30px;
  border: none;
  background: #2a2a2a;
  width: 105%;
  margin-left: 0px;
  transition: 0.35s ease-in-out;
}

.logout:hover {
  background: rgb(221, 87, 87);
  color: white;
}
/* side profil---------------------------------------------------------------------- */

.p_myaccount {
  float: left;
  display: block;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  line-height: 50px;
  position: relative;
  top: -15px;
  padding: 0 30px;
  border: none;
  background: #e3d105;
  width: 105%;
  margin-left: 0px;
  transition: 0.35s ease-in-out;
}

.p_myaccount:hover {
  background: #e6d62b;
  color: black;
}

.p_myrecipes {
  float: left;
  display: block;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  line-height: 50px;
  position: relative;
  top: -15px;
  padding: 0 30px;
  border: none;
  background: #2a2a2a;
  width: 105%;
  margin-left: 0px;
  transition: 0.35s ease-in-out;
}

.p_myrecipes:hover {
  background: white;
  color: black;
}

.p_myfav {
  float: left;
  display: block;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  line-height: 50px;
  position: relative;
  top: -15px;
  padding: 0 30px;
  border: none;
  background: #2a2a2a;
  width: 105%;
  margin-left: 0px;
  transition: 0.35s ease-in-out;
}

.p_myfav:hover {
  background: white;
  color: black;
}

/* form general--------------------------------------------------------------------- */

.form {
  border: white solid 2px;
  border-radius: 4px;
  margin-bottom: 25px;
  padding: 15px;
}

.textarea {
  font-family: Arial;
  font-size: 15px;
  border: white solid 2px;
  border-radius: inherit;
  margin-bottom: 25px;
  padding: 15px;
  width: 400px;
  height: 100px;
}

input[type="file"] {
  display: none;
}
.send1 {
  display: block;
  margin: 0 auto;
  background: #2a2a2a;
  border: #2a2a2a;
  color: white;
  max-width: 100px;
  padding: 8px 0px;
  width: 100%;
  font-size: 15px;
  border-radius: 4px;
  transition: 0.35s ease-in-out;
}

.send1:hover {
  background: white;
  color: black;
}
.send {
  display: block;
  margin: 0 auto;
  background: #2a2a2a;
  border: #2a2a2a;
  color: white;
  max-width: 100px;
  padding: 8px 0px;
  width: 100%;
  font-size: 15px;
  border-radius: 4px;
  transition: 0.35s ease-in-out;
}

.send:hover {
  background: #e3d105;
  color: black;
}
/* background 1--------------------------------------------------------------------- */

.body {
  text-align: center;
  padding: 200px 80px 100px 80px;
  background: url("background1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.word_daftar {
  font-size: 30px;
}

.welcome_word {
  /* font-size: 50px;
  text-align: left; */
  /* position: fixed; */
  margin-top: -65px;
  margin-bottom: 100px;
  margin-left: 150px;
  margin-right: 150px;
  letter-spacing: 3px;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
}

.welcome {
  font-size: 50px;
  text-align: left;
}

.user {
  font-size: 100px;
  text-align: right;
}
/* profil------------------------------------------------------------------------- */

.userprofil {
  background: #e3d105;
  text-align: center;
  padding-top: 150px;
  padding-right: 300px;
  padding-bottom: 50px;
}

.foto {
  border-radius: 100px 100px;
  margin-bottom: -10px;
}

.profile_name h1 {
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
  font-size: 30px;
}

.profile_name h3 {
  font-size: 20px;
}

.userprofil p {
  font-size: 15px;
}

.upload {
  font-family: Arial;
  display: inline-block;
  margin-top: 40px;
  background: #2a2a2a;
  border: #2a2a2a;
  color: white;
  max-width: 100px;
  padding: 8px 0px;
  width: 100%;
  font-size: 15px;
  border-radius: 3px;
  transition: 0.35s ease-in-out;
}

.upload:hover {
  background: white;
  color: black;
}

.delete {
  display: inline-block;
  margin: 20px auto;
  background: #2a2a2a;
  border: #2a2a2a;
  color: white;
  max-width: 100px;
  padding: 8px 0px;
  width: 100%;
  font-size: 15px;
  border-radius: 3px;
  transition: 0.35s ease-in-out;
}

.delete:hover {
  background: rgb(221, 87, 87);
  color: white;
}

.formedit {
  border: white solid 2px;
  border-radius: inherit;
  margin-bottom: 25px;
  padding: 15px;
  min-width: 400px;
}
/* footer------------------------------------------------------------------------------- */

footer {
  text-align: center;
  background: #2a2a2a;
  padding: 15px;
  padding-right: 300px;
}

.ebutton {
  text-align: center;
  display: inline-block;
  color: black;
  font-size: 15px;
  line-height: 38px;
  position: relative;
  padding: 0 15px;
  margin: 0 5px;
  border: solid #e3d105 1px;
  background: #e3d105;
  transition: 0.35s ease-in-out;
  border-radius: 4px;
}

.ebutton:hover {
  border: white solid 1px;
  background: #2a2a2a;
  color: white;
}

.dbutton {
  text-align: center;
  display: inline-block;
  color: white;
  font-size: 15px;
  line-height: 38px;
  position: relative;
  padding: 0 15px;
  margin: 0 5px;
  border: solid white 1px;
  background: #2a2a2a;
  transition: 0.35s ease-in-out;
  border-radius: 4px;
}

.dbutton:hover {
  border: white solid 1px;
  background: rgb(221, 87, 87);
  color: white;
}
/* body resep--------------------------------------------------------------------- */

.welcome_resep {
  text-align: center;
  font-size: 15px;
  color: white;
  background: #2a2a2a;
  /* background: #e3d105; */
  padding: 10px;
  letter-spacing: 5px;
}

.resep {
  padding-top: 100px;
  padding-bottom: 100px;
  /* padding-right: -100px; */
  background: url("background2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.resep h1 {
  font-size: 50px;
  text-align: center;
}

.resep_form {
  text-align: left;
  margin-left: 450px;
}

.rform {
  border: black solid 1.5px;
  border-radius: inherit;
  margin-bottom: 40px;
  margin-right: 10px;
  padding: 15px;
  min-width: 290px;
}

.upresep {
  font-family: Arial;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  background: #2a2a2a;
  border: #2a2a2a;
  color: white;
  max-width: 100px;
  padding: 8px 0px;
  width: 100%;
  font-size: 15px;
  transition: 0.5s ease;
  border-radius: 4px;
}

.upresep:hover {
  background: #e3d105;
  color: black;
}

.rtextarea {
  font-family: Arial;
  font-size: 15px;
  border: black solid 1.5px;
  border-radius: inherit;
  margin-bottom: 25px;
  padding: 15px;
  width: 400px;
  height: 200px;
}

.rsend {
  display: inline-block;
  margin: 0 auto;
  background: #e3d105;
  border: #e3d105;
  color: black;
  max-width: 100px;
  padding: 8px 0px;
  width: 100%;
  font-size: 15px;
  transition: 0.5s ease;
  border-radius: 4px;
}

.rsend:hover {
  background: #2a2a2a;
  color: white;
}
/* isi resep---------------------------------------------------------------------------- */
.isi_resep {
  background: #e2e1df;
  padding: 100px;
  text-align: center;
}

.isi_resep h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

.isi_kiri p {
  font-size: 20px;
}

.isi_resep img {
  height: 500px;
  width: 500px;
}

.feedback {
  background: #2a2a2a;
  background: #2a2a2a;
  text-align: center;
  padding: 10px;
}

.fav {
  display: inline-block;
  margin: 0 auto;
  max-width: 100px;
  padding: 8px 0px;
  width: 100%;
  font-size: 15px;
}

.fav:link {
  background: #2a2a2a;
  border: white solid 1px;
  color: white;
}

.fav:visited {
  background: #e3d105;
  border: #e3d105 solid 1px;
  color: black;
}

.fav:hover {
  background: #e3d105;
  border: #e3d105 solid 1px;
  color: black;
}

.fav:active {
  background: #e3d105;
  border: #e3d105 solid 1px;
  color: black;
}

.bcomment {
  display: inline-block;
  margin: 0 auto;
  background: #2a2a2a;
  border: white solid 1px;
  color: white;
  max-width: 100px;
  padding: 8px 0px;
  width: 100%;
  font-size: 15px;
}

.bcomment:hover {
  background: #e3d105;
  border: #e3d105 solid 1px;
  color: black;
}

.comment {
  background: #e2e1df;
  padding: 50px;
  text-align: center;
}
/* list resep---------------------------------------------------------------------- */
.list_resep {
  background: url("background2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 150%;
  width: 150%;
  position: fixed;
  left: 0;
}
/* about-------------------------------------------------------------------- */

.about {
  letter-spacing: 2px;
  /* position: static;
  top: 350px; */
  background: #2a2a2a;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: white;
  z-index: 4;
  font-family: "Poppins", sans-serif;
}

.body_about {
  background: #e3d105;
  text-align: center;
  padding: 30px;
  z-index: 4;
  font-family: "Open Sans", sans-serif;
}
/* link---------------------------------------------------------------------------------- */

h a:link {
  color: black;
  text-decoration: none;
}
h a:visited {
  color: black;
  text-decoration: none;
}
h a:hover {
  color: #e3d105;
  text-decoration: none;
}
h a:active {
  color: black;
  text-decoration: none;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: #e3d105;
}

a:active {
  color: white;
}
/* myrecipe------------------------------------------------------------------------- */

.tabelresep {
  background: #e3d105;
  text-align: center;
  padding: 10px;
}

.rtitle {
  /* display: -ms-grid;
  display: grid;
  place-items: center;
  margin-bottom: 50px;
  z-index: 1; */
  background-color: #2a2a2a;
  color: white;
  padding: 10px;
  text-align: center;
  /* font-family: "Poppins", sans-serif; */
  font-weight: 500;
  font-size: 20px;
}

/* .profile_name h1 {
  text-align: center;
  font-size: 75px;
  margin-top: 15px;
} */

.type-animation {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 0;
  overflow: hidden;
  padding-right: 0.08em;
  position: relative;
}

.type-animation:after {
  content: "";
  background: var(--primary);
  position: absolute;
  right: 0;
  top: -0.05em;
  bottom: -0.05em;
  width: 0.08em;
  border-right: 2px solid transparent;
}

.type-animation.animating {
  -webkit-animation: type 1620ms;
  animation: type 1620ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.type-animation.animating:after {
  -webkit-animation: cursor 320ms 8.625 ease-in-out;
  animation: cursor 320ms 8.625 ease-in-out;
}

@-webkit-keyframes cursor {
  0%,
  100% {
    border-color: #f7f3ff;
  }
  50% {
    border-color: #241b5b;
  }
  100% {
    width: 0;
  }
}

@keyframes cursor {
  0%,
  100% {
    border-color: #f7f3ff;
  }
  50% {
    border-color: #241b5b;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes type {
  11.11111% {
    width: 0.49em;
  }
  22.22222% {
    width: 0.98em;
  }
  33.33333% {
    width: 1.47em;
  }
  44.44444% {
    width: 1.96em;
  }
  55.55556% {
    width: 2.45em;
  }
  66.66667% {
    width: 2.94em;
  }
  77.77778% {
    width: 3.43em;
  }
  88.88889% {
    width: 3.92em;
  }
  100% {
    width: 3.92em;
    padding-right: 0;
  }
}

@keyframes type {
  11.11111% {
    width: 0.49em;
  }
  22.22222% {
    width: 0.98em;
  }
  33.33333% {
    width: 1.47em;
  }
  44.44444% {
    width: 1.96em;
  }
  55.55556% {
    width: 2.45em;
  }
  66.66667% {
    width: 2.94em;
  }
  100% {
    width: 3.3em;
  }
}

.btn {
  padding: 15px 45px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background-color: #2a2a2a;
  border: 2px solid #2a2a2a;
  cursor: pointer;
  width: max-content;
  transition: 0.25s ease;
  border-radius: 7px;
}

.btn-4:hover {
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  color: black;
  background-color: white;
}

.td {
  display: -ms-inline-grid;
  margin-left: 45px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: white;
  cursor: pointer;
  width: max-content;
  transition: 0.25s ease-in-out;
  border-radius: 5px;
}
.btn-5 {
  background-color: rgb(65, 146, 65);
}
.btn-5:hover {
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  color: black;
  border-color: white;
  background-color: transparent;
}
.btn-6 {
  background-color: rgb(221, 87, 87);
  margin-left: 20px;
}
.btn-6:hover {
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  color: black;
  border-color: white;
  background-color: transparent;
}
.btn-7 {
  background-color: #e0d344;
  margin-left: 20px;
}
.btn-7:hover {
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  color: black;
  border-color: white;
  background-color: transparent;
}

main.tbody {
  /* font-family: "Open Sans", sans-serif; */
  font-weight: bolder;
  background: #e3d105;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 50px;
  width: 100%;
}

.container {
  max-width: 75%;
  margin: 0 150px auto;
  /* margin-left: 34px;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; */
}

.table-header {
  color: white;
}

/* h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
h2 small {
  font-size: 0.5em;
} */
.table-row .col-1 {
  padding-top: 10px;
}
.table-row .col-2 {
  padding-top: 10px;
}
.table-row .col-3 {
  padding-top: 10px;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.responsive-table .table-header {
  background-color: #2a2a2a;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-1 {
  flex-basis: 10%;
}

.responsive-table .col-2 {
  flex-basis: 50%;
}

.responsive-table .col-3 {
  flex-basis: 25%;
}

.responsive-table .col-4 {
  flex-basis: 25%;
}

@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #2a2a2a;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}
